#devise_log_in_form
  .container
    = simple_form_for(:user, url: session_path(:user)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: false, focus: false, placeholder: 'email', label: false
        = f.input :password, required: false, placeholder: 'password', label: false
        = f.submit "sign in", id: "log_in"
