!!!
%html
  %head
    %title Workrn
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
    .button_container#toggle
      %span.top
      %span.middle
      %span.bottom
    .overlay#overlay
      %nav.overlay-menu
        %ul
          %li#toggle2
            %a{href: '#'} sign in
          %li#toggle3
            %a{href: '#'} sign up
          %li= link_to 'Sign Out', destroy_user_session_path, method: :delete if user_signed_in?
      .overlay#overlay2
        %nav.overlay-menu
          %ul
            %li
              =render 'devise/sessions/new'
      .overlay#overlay3
        %nav.overlay-menu
          %ul
            %li
              -# =render 'layouts/sign_up'
              =link_to 'Sign Up', new_user_registration_path unless user_signed_in?
